@mixin dialogColor {
    background: rgb(39,39,41);
}    

@mixin AreYouSureRequestDialog {
    .z-areYouSureRequestDialog {
          
        .v-window-outerheader {
     	    @include dialogColor;
        	color: rgb(255, 255, 255);
    	 }  
    	 
    	 .v-window-header {
     		  @include dialogColor;
        	  color: rgb(255, 255, 255);        
         }
          
         .z-areYouSureRequestDialogContent {
          	width: 300px;
        	padding : 15px;
        	text-align: right;
         } 
         
         .z-areYouSureRequestButtonsPanel {
         	 margin-top: 20px;
         }                
    }
}